body {
  margin: 0;
  height: 100vh;
  padding: 1vh;
  box-sizing: border-box;
  background: #d3ff00 center fixed no-repeat;
  color: #258200;
  background-image: radial-gradient(circle, #d3ff00, #aed202);
  font-family: arial;
}

::selection {
  background: rgba(0,0,0,0.1);
}

.logo {
  margin: 5vmin;
  text-align: center;
  font-size: 8vmin;
  height: 10vmin;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
}

.logoElement {
  display: inline-block;
  position: relative;
  transition: font-size cubic-bezier(.4,.9,.45,1.25) 0.35s;
  animation: appear 1s cubic-bezier(.4,.9,.45,1.25);
}

@keyframes appear {
  0% { font-size: 40%; top: 5vmin; }
  60% { font-size: 120%; top: -1vmin;}
  100% {top: 0}
}

.logoElement:hover {
  font-size: 170% !important;
}
.logoElement:before {
  content: attr(copy);
  position: absolute;
  color: rgba(0,0,0,0.1);
  z-index: -1;
  top: -5px;
  transform: rotate(-2deg); 
}
.logoElement.a {
  transform: rotate(-2deg); 
}
.logoElement.b {
  transform: rotate(2deg); 
  margin-left: -1vmin;
  font-size: 135%;
  animation-duration: 1.3s;
}
.logoElement.c {
  transform: rotate(2deg); 
  margin-left: -2vmin;
  margin-top: 1vmin;
  font-size: 110%;
  color: #f12929;
  animation-duration: 1.6s;
}

.message {
  font-family: 'courier new';
  box-sizing: border-box;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  padding: 4vmin;
  color: black;
  width: 80vmin;
  max-height: 35vmin;
  margin: 8vmin auto 6vmin;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  overflow: auto;
}

.center {
  text-align: center;
}

textarea {
  width: 80vmin;
  max-width: 80vmin;
  margin: 2vmin auto;
  box-sizing: border-box;
  
  padding: 3vmin;
  color: black;
  font-size: 130%;
  width: 80vmin;
  margin: 2vmin auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,0.1);
  outline: none;
}

input {
  width: 80vmin;
  margin: 0 auto;
  font-size: 120%;
  padding: 2vmin;
  background: rgba(73, 151, 61, 0.7);
  border-radius: 10px;
  border: none;
  color: white;
  
}